/**
 * Grid / Columns
 */

[grid-row] {
    align-items: flex-start;
    box-sizing: border-box;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}
[grid-col] {
    box-sizing: border-box;
}
[grid-row] [grid-col].empty:after {
    content: "\0000A0";
    cursor: text;
}
[grid-col="auto"] {
    -webkit-box-flex: 1;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
[grid-col="x12"] {
    width: 100%;
}
[grid-col="x11"] {
    width: 50%;
}
[grid-col="x10"] {
    width: 33.33%;
}
[grid-col="x9"] {
    width: 25%;
}
[grid-col="x8"] {
    width: 20%;
}
[grid-col="x7"] {
    width: 16.666666667%;
}
[grid-col="x6"] {
    width: 14.285714286%;
}
[grid-col="x5"] {
    width: 12.5%;
}
[grid-col="x4"] {
    width: 11.111111111%;
}
[grid-col="x3"] {
    width: 10%;
}
[grid-col="x2"] {
    width: 9.090909091%;
}
[grid-col="x1"] {
    width: 8.333333333%;
}
[grid-col="1"] {
    width: 8.33333%;
}
[grid-col="2"] {
    width: 16.66667%;
}
[grid-col="3"] {
    width: 25%;
}
[grid-col="4"] {
    width: 33.33333%;
}
[grid-col="5"] {
    width: 41.66667%;
}
[grid-col="6"] {
    width: 50%;
}
[grid-col="7"] {
    width: 58.33333%;
}
[grid-col="8"] {
    width: 66.66667%;
}
[grid-col="9"] {
    width: 75%;
}
[grid-col="10"] {
    width: 83.33333%;
}
[grid-col="11"] {
    width: 91.66667%;
}
[grid-col="12"] {
    width: 100%;
}
body.mobile [grid-responsive] [grid-col] {
    width: 100%;
    -webkit-box-flex: none;
    -webkit-flex: none;
    -ms-flex: none;
    flex: none;
}
/*

for reference
[grid-pad="0"] { padding: 0; }
[grid-pad="1"] { padding: 0.5rem; }
[grid-pad="2"] { padding: 1rem; }
[grid-pad="3"] { padding: 2rem; }
[grid-pad="4"] { padding: 4rem; }
*/

[data-ce-host="true"][contenteditable="true"] [grid-pad] {
    pointer-events: none;
}
[data-ce-host="true"][contenteditable="true"] [grid-pad]>* {
    pointer-events: auto;
}
[grid-pad="0"] {
    padding: 0;
}
[grid-pad="0.25"] {
    padding: .125rem;
}
[grid-pad="0.5"] {
    padding: .25rem;
}
[grid-pad="0.75"] {
    padding: .375rem;
}
[grid-pad="1"] {
    padding: .5rem;
}
[grid-pad="1.25"] {
    padding: .625rem;
}
[grid-pad="1.5"] {
    padding: .75rem;
}
[grid-pad="1.75"] {
    padding: .875rem;
}
[grid-pad="2"] {
    padding: 1rem;
}
[grid-pad="2.5"] {
    padding: 1.25rem;
}
[grid-pad="3"] {
    padding: 1.5rem;
}
[grid-pad="3.5"] {
    padding: 1.75rem;
}
[grid-pad="4"] {
    padding: 2rem;
}
[grid-pad="5"] {
    padding: 2.5rem;
}
[grid-pad="6"] {
    padding: 3rem;
}
[grid-pad="7"] {
    padding: 3.5rem;
}
[grid-pad="8"] {
    padding: 4rem;
}
[grid-pad="9"] {
    padding: 4.5rem;
}
[grid-pad="10"] {
    padding: 5rem;
}
/**
Gutters



[grid-gutter="0"] {
  margin: 0rem; 
}

[grid-gutter="0.5"] {
  margin: -.25rem; 
}

[grid-gutter="1"] {
  margin: -.5rem; 
}

[grid-gutter="1.5"] {
  margin: -.75rem; 
}

[grid-gutter="2"] {
  margin: -1rem; 
}

[grid-gutter="2.5"] {
  margin: -1.25rem; 
}

[grid-gutter="3"] {
  margin: -1.5rem; 
}

[grid-gutter="3.5"] {
  margin: -1.75rem; 
}

[grid-gutter="4"] {
  margin: -2rem; 
}

[grid-gutter="5"] {
  margin: -2.5rem; 
}

[grid-gutter="6"] {
  margin: -3rem; 
}

[grid-gutter="7"] {
  margin: -3.5rem; 
}

[grid-gutter="8"] {
  margin: -4rem; 
}

[grid-gutter="10"]{
  margin: -5rem; 
}

[grid-gutter="12"]{
  margin: -6rem; 
}

[grid-gutter="14"]{
  margin: -7rem; 
}

[grid-gutter="16"]{
  margin: -8rem; 
}

[grid-gutter="18"]{
  margin: -9rem; 
}

[grid-gutter="20"]{
  margin: -10rem; 
}
**/

/* Clearfix */

/*.clearfix:before,
.clearfix:after {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}*/

/* Fix for small tag inside of flex elements */

small {
    max-width: 100%;
    text-decoration: inherit;
}
.responsive {
    width: 100% !important;
}
img[src=''], img:not([src]) {
    outline: 1px solid rgba(177, 177, 177, 0.4);
    outline-offset: -1px;
    content: url("data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw==");
}
img.image-zoom {
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}
/* Animations */

.scroll-transition-fade {
    transition: transform 1s ease-in-out, opacity .8s ease-in-out;
}
.scroll-transition-fade.below-viewport {
    -webkit-animation: fadein 3s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 3s;
    /* Firefox < 16 */
    -ms-animation: fadein 3s;
    /* Internet Explorer */
    -o-animation: fadein 3s;
    /* Opera < 12.1 */
    animation: fadein 3s;
}
@keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Firefox < 16 */

@-moz-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Safari, Chrome and Opera > 12.1 */

@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Internet Explorer */

@-ms-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
/* Opera < 12.1 */

@-o-keyframes fadein {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}